@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
 }

 body{
   min-height: 100vh;
   width: 100%;
    
}



/* .guide{
    font-size: 16px;
} */
.p{
    font-size: 16px;
    line-height: 23px;
    
    font-weight: 600;
}
.nav-item{
    font-size: 18px;
}

section{
    margin-top: 200px;
}

.col-12{
   
    display: flex;
    justify-content: center;
    align-items: cente
}
.back-img{
    width: 300px;
    display: none;
}
.mapdiv{
   
    width:40%;
    
}

.mapdiv path{
    fill:#34495e;
    stroke: white;
    stroke-width:1px ;
    
}
.mapdiv path:hover{
    fill: rgb(95, 226, 43);
}
a{
    font-size: 19px;
    text-decoration: none;
    margin-top: -10px;
}
.img-map{
    width: 30%;
    height: 145px;
    border-radius: 50%;
}
.card-img{
    height: 100%;
    width: 100%;
}
.shadow-lg{
    position:relative;
}
.Modern-mechanisms{
    background-color: #b4ef625b ;
    /* opacity:0.23; */
}

.img-Automation{
    opacity:12;
}

#Automation-services-p{
    text-align: start;
 
    height: 63vh;
    overflow: hidden;
}
.background{
background-color: #b4ef625b;
}
.Ourtwoclients i {
    margin-right: 12px;
    margin-bottom: 12px;
    
}
.Ourtwoclients-main{
    display: flex ;
    justify-items: center;
}

.Ourtwoclients ul {
    list-style-type: none;
    margin-top: 24px;
   margin-left: -5px;
}

.Ourtwoclients ul li{
    list-style-type: none;
    margin-bottom: 3px;
    font-size: large;
   
}
.Ourtwoclients img {
    width: 12rem;
    border-radius: 5px;
    
}
.background {
    padding: 13px 0px;
    
}

.footer{
    background-color: rgb(25, 25, 27);
    padding: 150px 0px;
    
}
.copyright{
    background-color: rgb(42, 42, 43);
    padding: 20px 0px
}
.fa-copyright{
   margin-left: 12px;
}
.iocn-footer{
    color: #161616;
    font-size: 20px;
    
   

}
.footer .iocn-footer {
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;


}
.footer .iocn-footer:hover{
    
    background-color: rgb(35, 34, 34);
    transition: .5s;
    


}
.footer .iocn-footer:hover {
    
    color: rgb(255, 252, 252);
    transition: .5s;
    

}

 .footer-icon-cricl{
     background-color: white;
     width: 20px;
     height: 40px;
 }

.up a{
    background-color: rgb(95, 226, 43);
    padding: 15px;
    border-radius: 50%;
    width: 10px;
}
.up  i{
    color: white;
    font-size: 25px;
}
.news p{
    width: 90;
    height: auto;
}

.line{
   
    /* border: 2px solid red; */
    transform: rotate(90deg);
    color: black;
    font-size: 50px;
    width: 90%;
}
.ds{

    display: flex;
    flex-direction: column;
    justify-content: center;}

#videod{
    display: flex;
    justify-content: center;
}
#Investor h1{
    /* border: 1px solid blue; */
    font-size: 32px;
    font-weight: 700;
   
}
#Investor .p{
/* border: 1px solid blue; */
font-size: 18px;
line-height: 32px;
}
.Modern-mechanisms .p{
    /* border: 1px solid red; */
font-size: 18px;
line-height: 29px;

}
.Modern-mechanisms .btn{
    font-size:28px; 
    font-weight: 700;
     padding: 5px;
      background-color: #f2ba12b1;
       /* border: 2px solid red; */
       text-shadow: 1px 1px 1px #161616;

}

.Modern-mechanisms .btn:hover{
        border: 1px solid black;
      background-color: #f2ba1200;
      color: white;
      text-shadow: 1px 1px 1px #161616;
       /* border: 2px solid red; */

}
#language-selector  h1{
    font-size: 32px;
    font-weight: 700; 
    
}

.title-info-Modernmechanisms p{
    font-size: 1.4rem;
    font-weight: 400;
}
.info-det{
    font-size: 1.2rem;
}

#listnew{
    list-style: none;
}

.pregraph-title{
font-size: 18px;

}

.pregraph2{
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 766px) {

    .back-img{
        width: 400px;
        display: block;
    }
    .mapdiv{
   
        display: none;
        
        
    }

    .guide{
        font-size: 20px;
    }
    .carousel-button{
        font-size: 25px;
        border: 0px solid white;
         padding:11px 48px;
          color:#ffffffef
    
    }
    
    #slider h1{
        font-size: 25px;
    }

      
    #slider p{
        font-size: 10px;
        line-height: 25px;
        font-weight: normal;
    }
    .carousel a span ,i{
        font-size: 20px;
        /* padding:6px 20px; */
    }
    .carousel a span {
        
        padding:5px 10px;
    }
    #Investor h1{
        /* border: 1px solid blue; */
        font-size: 26px;
        font-weight: 700;
       
    }

     .container .services{
        margin-top: 0rem;
    
    }
    .Modern-mechanisms .btn{
        font-size: 28px;
    padding: 13px 3px;
        
    
    }
    #language-selector  h1{
        font-size: 26px;
        font-weight: 700; 
        
    }
    .line{
        /* display: none; */
        /* border: 2px solid red; */
        transform: rotate(180deg);
       
    }
   .footer h5{
    font-size: 18px;

   }
   #titleofmodren{
    font-size: 2.5rem;
   }
}
@media screen and  (min-width: 766px) and (max-width: 991px) {

   .line{
        /* display: none; */
        /* border: 2px solid red; */
        transform: rotate(180deg);
       
    } 
}